<div class="container">
    <div class="slider-container">
        <div class="intro-text">
            <img ng-show="load" style="font-size: 10px; padding-top: 80px;" src="../images/gears.svg">
            <div ng-show="showInfo">
                <div class="intro-heading" style="font-size: 30px; letter-spacing: 1px;">Konto: <span style="color: #fec503;">{{_username}}</span></div>
                <div id="infoUser" style="margin: 0 auto">

                    <table class="table" ts-wrapper >
                        <thead>
                        <tr>

                            <th style="background-color: #445878;"><md-icon md-svg-src='images/icons/mail.svg' style="color: #e7e7e7;"></md-icon>E-mail</th>
                            <th style="background-color: #445878;"><md-icon md-svg-src='images/icons/face.svg' style="color: #e7e7e7;"></md-icon>Imię</th>
                            <th style="background-color: #445878;"><md-icon md-svg-src='images/icons/surname.svg' style="color: #e7e7e7;"></md-icon>Nazwisko</th>
                            <th style="background-color: #445878;"><md-icon md-svg-src='images/icons/number.svg' style="color: #e7e7e7;"></md-icon>Numer</th>
                            <th style="background-color: #445878;"><md-icon md-svg-src='images/icons/team.svg' style="color: #e7e7e7;"></md-icon>Team</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{infoUsers.username}}</td>
                            <td>{{infoUsers.name}}</td>
                            <td>{{infoUsers.surname}}</td>
                            <td>{{infoUsers.numberUser}}</td>
                            <td>{{infoUsers.nameTeam}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <a href="#/change_password"><input style="width: 298px;" type="submit" class="submitAdmin"
                                                   value="Zmiana hasła"></a>
                <a href="#/user_document"><input ng-click="findMyDocument()" style="width: 298px;" type="submit"
                                                 class="submitAdmin" value="Moje dokumenty"></a>
            </div>
        </div>
    </div>
</div>