<div class="container">
    <div class="slider-container">
        <div class="intro-text">

            <form id="form" name="projectForm" class="topBefore" ng-submit="addItems()" style="font-size:20px;">
                <h1>Dodwanie towaru</h1>

                <input required type="text" name="numberPro" ng-model="form.numberPro" placeholder="Numer procesu">
                <input required type="text" name="contentItem" ng-model="form.contentItem" placeholder="Opis towaru"/>

                <input required type="text" name="clientName" ng-model="form.clientName" placeholder="Klient">
                <input required type="text" name="traderName" ng-model="form.traderName" placeholder="Handlowiec">
                <input required type="text" name="nameTeam" ng-model="form.nameTeam" placeholder="TOK">
                <input required type="text" name="kbn" ng-model="form.kbn" placeholder="KBN">
                <input required type="text" name="provider" ng-model="form.provider" placeholder="Dostawca">
                <input required type="text" name="businessSector" ng-model="form.businessSector" placeholder="Dział">
                <input required type="date" value="Data" ng-model="form.date"/>
                <input required type="text" name="priceItem" ng-model="form.pieces" placeholder="Sztuki">
                <input required type="text" name="priceItem" ng-model="form.priceItem" placeholder="Cena">

                <input id="submit" type="submit" value="Dodaj">


            </form>
            <div>
                <a href="#/admin">
                    <img src="images/icons/back.png">
                </a>
            </div>

        </div>
    </div>
    <script type="text/ng-template" id="addDocument">
        <h1>{{responseFromServer}}</h1>
        <input style="background-color: #23AD21;" class="submitSuccess" type="submit" value="Ok"
               ng-click="reloadRoute(); closeThisDialog(0);">
    </script>
    <script type="text/ng-template" id="errorAdd">
        <h1>Doukemnt istnieje w bazie danych.</h1>
        <p>Podany dokument jest już zapisany w bazie danych.</p>
        <input style="background-color:rgb(221,44,0);" class="submitSuccess" type="submit" value="Ok"
               ng-click="closeThisDialog(0);">
    </script>
    <script type="text/ng-template" id="errorAddDocument">
        <h1>Wystąpił błąd.</h1>
        <p>Brak połączenia z serwerem.</p>
        <input style="background-color:rgb(221,44,0);" class="submitSuccess" type="submit" value="Ok"
               ng-click="closeThisDialog(0);">
    </script>


</div>