<div class="container">
    <div class="slider-container">
        <div class="intro-text">
            <img ng-show="load" style="font-size: 10px; padding-top: 80px;" src="../images/gears.svg">

            <div ng-show="showInfo">
                <div style="font-weight: 800; font-size: 40px; padding: 15px;" class="intro-lead-in">Rezerwacje
                    fizyczne
                </div>
                <div style="margin: 0 auto;">
                    <input style="font-size: 20px;" type="text" ng-model="search.$" placeholder="Wprowadź frazę.">
                </div>
                <a style="font-size: 18px;" href="#/advanced_search" ng-click="runService()" >Zawansowane wyszukiwanie.</a>
                <div id="showItems">

                    <table class="table" ts-wrapper style="width: 100%; font-size: 14px;">
                        <thead>
                        <tr ng-show="editOff">
                            <th>#</th>
                            <th>KBN</th>
                            <th>Nazwa towaru</th>
                            <th>Opis towaru</th>
                            <th>Stan dost.</th>
                            <th style="text-align: center;" ts-criteria="clientName|lowercase">DOST.</th>
                            <th style="text-align: center;" ts-criteria="clientName|lowercase">TOK</th>
                            <th style="text-align: center;" ts-criteria="traderName|lowercase">CDS</th>
                            <th ts-criteria="nameTeam|lowercase">Tworzący</th>
                            <th ts-criteria="dateAccepted|parseInt">Ost. rezerw.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-show="editOff" ng-repeat="item in listItems | filter:search" ts-repeat
                            ng-click="editData.items = item; showEdit();">
                            <td>{{$index +1}}</td>
                            <td>{{item.kbn}}</td>
                            <td>{{item.contentItem}}</td>
                            <td>{{item.detailsContentItem}}</td>
                            <td>{{item.pieces}}</td>
                            <td>{{item.provider}}</td>
                            <td>{{item.nameTeam}}</td>
                            <td>{{item.nameTeamCDS}}</td>
                            <td>{{item.creator}}</td>
                            <td ng-if="item.delay<14" style="background: #18F73E">
                               {{item.delay}}
                            </td>
                            <td ng-if="item.delay>14 && item.delay<31" style="background: #FFF726">
                                {{item.delay}}
                            </td>
                            <td ng-if="item.delay>=31 && item.delay<60" style="background: #FF7800">
                                {{item.delay}}
                            </td>
                            <td ng-if="item.delay>=60" style="background: #FF0000">
                                {{item.delay}}
                            </td>

                        </tr>
                        </tbody>


                        <thead>
                        <tr ng-show="editOn">
                            <th style="background: #3258A6;">#</th>
                            <th style="background: #3258A6;">OPIS TOWARU</th>
                            <th style="background: #3258A6;">PROCES</th>
                            <th style="background: #3258A6;">/</th>
                            <th style="background: #3258A6;">NR. FABR.</th>
                            <th style="background: #3258A6;">KBN</th>
                            <th style="background: #3258A6;">TOK</th>
                            <th style="background: #3258A6;">STAN (szt.)</th>
                            <th style="background: #3258A6; width: 128px;">ODPISZ (szt.)</th>
                            <th style="background: #3258A6;">ZATWIERDŹ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-show="editOn">
                            <!--ng-click="editData.documents = document; showToEdit();">-->
                            <td>{{$index +1}}</td>
                            <td>{{editItem.contentItem}}</td>
                            <td>{{editItem.numberPro}}</td>
                            <td>{{editItem.subPro}}</td>
                            <td>{{editItem.numberFactory}}</td>
                            <td>{{editItem.kbn}}</td>
                            <td>{{editItem.nameTeam}}</td>
                            <td>{{editItem.pieces}}</td>
                            <td ng-show="offEditNumber" ng-click="editItemPieces()">{{startPieces}}</td>
                            <td ng-show="editNumber">
                                <input style="width:50px;" type="text" ng-model="modelPieces.op" placeholder="1">
                                <a class="smallConfirm" ng-click="save()"> <md-icon md-svg-src='images/icons/confirmSmall.svg'></md-icon></a>
                                <a class="smallDelete" ng-click="return()"> <md-icon  md-svg-src='images/icons/deleteSmall.svg'></md-icon></a>

                            </td>
                            <td><input
                                    style="background-color:#13BA10; clear: both; width:95px;" class="adminSubmit"
                                    type="submit" value="OK"
                                    ng-click="saveOnServer();"></td>

                       </tr>
                        </tbody>
                    </table>


                    <script type="text/ng-template" id="updatePieces">
                        <h1 style="font-size: 23px;">{{successChangePieces}}</h1>
                        <p style="font-size: 18px; color: #ffffff;">{{successChangePieces2}}</p>

                        <input style="background-color: #13BA10;" class="submitSuccess" type="submit" value="Ok"
                               ng-click="reloadRoute(); closeThisDialog(0);">
                    </script>
                </div>
            </div>
        </div>



        </div>
    </div>
</div>