<div class="container">
    <div class="slider-container">
        <div class="intro-text">

            <div id="adminPanel" style="margin-bottom: 50px;">
                <a href="#/statistics" ng-click="sta(); getStat()"><input type="submit" class="submitAdmin" value="STA"></a>
                <a href="#/statistics" ng-click="stb(); getStat()"><input type="submit" class="submitAdmin" value="STB"></a>
                <a href="#/statistics" ng-click="stc(); updateMyChartData()"><input type="submit" class="submitAdmin" value="STC"></a>
                <a href="#/statistics" ng-click="ste(); getStat();"><input type="submit" class="submitAdmin" value="STE"></a>
                <a href="#/allTeam"><input type="submit" class="submitAdmin" value="All"></a>
                <a href="#/items"><input  style="background-color: #fed136"  type="submit" class="submitAdmin" value="Powrót do panelu"></a>
            </div>


        </div>
    </div>
</div>
