<div class="container">
    <div class="slider-container">
        <div class="intro-text">

            <div class="intro-heading">Rezerwacje fizyczne</div>
            <div id="adminPanel" style="height: 151px;">
                <a href="#/save_item"><input ng-click="allDeleteDocument()" type="submit" class="submitAdmin" value="Dodaj towar"></a>
                <!--<a href="#/minimenu"><input type="submit" class="submitAdmin" value="Statystyki"></a>-->
                <a href="#/admin"><input  style="background-color: #fed136"  type="submit" class="submitAdmin" value="Powrót do panelu"></a>
            </div>
        </div>
    </div>
</div>


