<div class="container">
    <div class="slider-container">
        <div class="intro-text">
            <img ng-show="load" style="font-size: 10px; padding-top: 80px;" src="../images/gears.svg">

            <div ng-show="showInfo">
                <div style="font-weight: 800; font-size: 40px; padding: 15px;" class="intro-lead-in">Rezerwacje
                    fizyczne
                </div>
                <div style="margin: 0 auto;">
                    <input style="font-size: 20px;" type="text" ng-model="search.$" placeholder="Wprowadź frazę.">
                </div>
                <a style="font-size: 18px;" href="#/advanced_search" ng-click="runService()" >Zawansowane wyszukiwanie.</a>
                <div id="showDocument">

                    <table class="table" ts-wrapper>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Numer procesu</th>
                            <th>Opis towaru</th>
                            <th style="text-align: center;" ts-criteria="clientName|lowercase">Klient</th>
                            <th style="text-align: center;" ts-criteria="traderName|lowercase">Handlowiec</th>
                            <th ts-criteria="nameTeam|lowercase">TOK</th>
                            <th ts-criteria="kbn|lowercase">KBN</th>
                            <th ts-criteria="provider|lowercase">Dostawca</th>
                            <th ts-criteria="businessSector|lowercase">Dział</th>
                            <th ts-criteria="dateAccepted|date">Data</th>
                            <th ts-criteria="priceItem|parseFloat">Cena (netto)</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in listItems | filter:search" ts-repeat>
                            <td>{{$index +1}}</td>
                            <td>{{item.numberPro}}</td>
                            <td>{{item.contentItem}}</td>
                            <td>{{item.clientName}}</td>
                            <td>{{item.traderName}}</td>
                            <td>{{item.nameTeam}}</td>
                            <td>{{item.kbn}}</td>
                            <td>{{item.provider}}</td>
                            <td>{{item.businessSector}}</td>
                            <td>{{item.dateAccepted | date:'MM/dd/yyyy'}}</td>
                            <td>{{item.priceItem | currency}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>


        </div>

    </div>
</div>
</div>