<div class="container">
    <div class="slider-container">
        <div class="intro-text">

            <div class="intro-heading">Klienci</div>

            <div style="height: 101px;" id="adminPanel">
                <a href="#/add_client"><input  type="submit" class="submitAdmin" value="Dodaj"></a>
                <a href="#/all_client"><input  type="submit" class="submitAdmin" value="Wszyscy"></a>
                <a href="#/admin"><input  style="background-color: #fed136"  type="submit" class="submitAdmin" value="Powrót do panelu"></a>
            </div>

        </div>
    </div>
</div>