<div class="container">
    <div class="slider-container">
        <div class="intro-text">


            <div id="login">
                <div id="Header">
                    <h1>Zmiana hasła</h1>
                </div>
                <md-content layout="column" md-theme="docs-dark" layout-padding="">
                    <form name="projectForm">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Stare hasło</label>
                            <input ng-minlength="5" required type="password" name="old" ng-model="password.old">
                            <div ng-messages="projectForm.old.$error">
                                <div ng-message="required">Pole jest wymagane do zmiany hasła.</div>
                                <div ng-show="wrongPass">
                                    <small style="color:rgb(221,44,0); display: block; text-align: center; font-size: 14px">
                                        Podane hasło nie zgadza się z Twoim obecnym.
                                    </small>
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Nowe hasło</label>
                            <input ng-minlength="5" required type="password" name="new" ng-model="password.new">
                            <div ng-messages="projectForm.new.$error">
                                <div ng-message="required">Podaj nowe hasło.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Powtórz nowe hasło</label>
                            <input ng-minlength="5" required type="password" name="newConfirm"
                                   ng-model="password.newConfirm">
                            <div ng-messages="projectForm.newConfirm.$error">
                                <div ng-message="required">Powtórz nowe hasło.</div>
                                <div ng-show="diffPass">
                                    <small style="color:rgb(221,44,0); display: block; text-align: center; font-size: 14px">
                                        Podana hasłą rożnią się.
                                    </small>
                                </div>
                            </div>
                        </md-input-container>

                    </form>
                    <input class="page-scroll btn btn-xl" type="submit" value="Zmień" ng-click="changePassword()">

                </md-content>

            </div>

            <script type="text/ng-template" id="successAccountUser">
                <h1>Twoje hasło zostało zmienione.</h1>
                <p>Przy próbie następnego logowania użyj nowego hasła.</p>
                <input style="background-color: #23AD21;" class="submitSuccess" type="submit" value="Ok"
                       ng-click="closeThisDialog(0);">
            </script>

            <script type="text/ng-template" id="errorAccountUser">
                <h1>Wystąpił błąd.</h1>
                <p>Brak połączenia z serwerem.</p>
                <input style="background-color:rgb(221,44,0);" class="submitSuccess" type="submit" value="Ok"
                       ng-click="closeThisDialog(0);">
            </script>

        </div>
    </div>
</div>