<div class="container">
    <div class="slider-container">
        <div class="intro-text">

            <form id="form" class="topBefore" ng-submit="createAccountClient()">
                <h1>Dodwanie klienta</h1>

                <input name="nameClient" type="text" ng-model="form.nameClient" placeholder="Nazwa klienta">
                <input name="numberClient" required type="text" ng-model="form.numberClient" placeholder="Numer klienta" />
                <select ng-model="nameTeam" ng-options="x for x in names"></select>
                <!--
                -->
                <input id="submit" type="submit" value="Dodaj">

            </form>

        </div>
    </div>
    <script type="text/ng-template" id="addClient">
        <h1>{{responseFromServer}}</h1>
        <input style="margin-left: 100px; margin-top: 5px;" class="submitDelete" type="submit" value="Ok" ng-click="clearInput(); closeThisDialog(0);">
    </script>
</div>