<div class="container">
    <div class="slider-container">
        <div class="intro-text">

            <form id="form" class="topBefore" ng-submit="createDocument()">
                <h1>Dodwanie WZ</h1>

                <input name="numberWZ" type="text" ng-model="form.numberWZ" placeholder="Numer WZ">
                <input name="subProcess" required type="number" ng-model="form.subProcess" placeholder="Podproces"
                       min="1"
                       max="100"/>

                <select ng-model="nameClients" data-ng-options="x for x in resultListClient">

                </select>

                <select ng-model="myTrader" ng-options="x for x in resultListTrader">

                </select>

                <input type=date step=2 min=2014-W30 ng-model="form.date">
                <input id="submit" type="submit" value="Dodaj">

            </form>

        </div>
    </div>
    <script type="text/ng-template" id="addDocument">
        <h1>{{responseFromServer}}</h1>
        <input style="margin-left: 100px; margin-top: 5px;" class="submitDelete" type="submit" value="Ok"
               ng-click="reloadRoute(); closeThisDialog(0);">
    </script>
</div>