<div class="container">
    <div class="slider-container">
        <div class="intro-text">

            <form id="form" class="topBefore" ng-submit="createTrader()">
                <h1>Dodwanie handlowca</h1>

                <input name="nameTrader" type="text"    ng-model="form.nameTrader" placeholder="Imię">
                <input name="surnameTrader" type="text" ng-model="form.surnameTrader" placeholder="Nazwisko" />
                <input name="numberTrader" type="text" ng-model="form.numberTrader" placeholder="Numer handlowca" />
                <select ng-model="nameTeam" ng-options="x for x in names | orderBy"></select>
                <!--
                -->
                <input id="submit" type="submit" value="Dodaj">

            </form>

        </div>
    </div>
    <script type="text/ng-template" id="addTrader">
        <h1 style="font-size: 30px;">{{responseFromServer}}</h1>
        <input style="background-color: #23AD21;" class="submitSuccess" type="submit" value="Ok" ng-click="reloadRoute(); closeThisDialog(0);">
    </script>
    <script type="text/ng-template" id="errorTrader">
        <h1 style="font-size: 25px;">Handlowiec o podanych danych istnieje w bazie danych.</h1>
        <p style="font-size: 18px; color: #ffffff;">Sprwadź nazwę handlowca lub numer.</p>
        <input style="background-color:rgb(221,44,0);" class="submitSuccess" type="submit" value="Ok" ng-click="clearInput(); closeThisDialog(0);">
    </script>
    <script type="text/ng-template" id="errorAddTrader">
        <h1>Wystąpił błąd.</h1>
        <p style="font-size: 18px; color: #ffffff;">Brak połączenia z serwerem.</p>
        <input style="background-color:rgb(221,44,0);" class="submitSuccess" type="submit" value="Ok"
               ng-click="closeThisDialog(0);">
    </script>
</div>