<div class="container">
    <div class="slider-container">
        <div class="intro-text">

            <div class="intro-heading">Panel administracyjny</div>


            <div id="adminPanel">

            <a href="#/addDocument"><input  type="submit" class="submitAdmin" value="Dodaj dokument WZ"></a>
            <a href="#/add_client"><input  type="submit" class="submitAdmin" value="Załóż klienta"></a>
            <a href="#/add_trader"><input  type="submit" class="submitAdmin" value="Dodaj handlowca"></a>
            <a href="#/addDocument"><input  type="submit" class="submitAdmin" value="Korekty"></a>
            <a href="#/addDocument"><input  type="submit" class="submitAdmin" value="Aktywuj konto"></a>
            <a href="#/btn"><input  type="submit" class="submitAdmin" value="Zablokuj konto"></a>
            <a href="#/show_documents"><input  type="submit" class="submitAdmin" value="Podgląd dokumentów"></a>
            </div>



        </div>

    </div>
</div>