<div class="container" ng-controller="LoginCtrl">
    <div class="slider-container">
        <div class="intro-text">

            <div style="letter-spacing: 1px;" class="intro-heading">Rejestracja zakończona sukcesem!</div>

            <p style="font-size: 35px; font-family: 'Kreon', serif; color: #FFFFFF; line-height: 120%;" ng-cloak>
                W przeciągu 24 godzin Twoje konto zostanie aktywowane. W celu poinformowania o aktywacji zostanie
                wysłany e-mail na Twoją skrzynkę pocztową.
            </p>
            <a href="#/main" class="page-scroll btn btn-xl">Strona startowa</a>

        </div>
    </div>
</div>