<div class="container">
    <div class="slider-container">
        <div class="intro-text">

            <div class="intro-heading">Aktywne konta :</div>
            <div id="showDocument">
                <table class="table" ts-wrapper>
                    <thead>
                    <tr>

                        <th ts-criteria="">E-mail</th>
                        <th ts-criteria="">Imię</th>
                        <th ts-criteria="">Nazwisko</th>
                        <th ts-criteria="">Numer</th>
                        <th ts-criteria="">Team</th>
                        <th ts-criteria="">Rola</th>
                        <th>Blokada</th>
                        <th ts-criteria="">Usuń</th>


                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="account in activeAccounts" ts-repeat>
                        <td>{{account.username}}</td>
                        <td>{{account.name}}</td>
                        <td>{{account.surname}}</td>
                        <td>{{account.numberUser}}</td>
                        <td>{{account.nameTeam}}</td>
                        <td ng-show="account.role=='ADMIN'">ADMIN</td>
                        <td ng-show="account.role=='USER'">USER</td>
                        <td class="active_account"><input style="background-color:rgb(221,44,0);width: 95px;" class="adminSubmit" type="submit" value="Zablokuj"
                                                       ng-click="editData.accounts = account; blockAccount();">
                        </td>
                        <td class="active_account"><input style="background-color:rgb(221,44,0);width: 95px;" class="adminSubmit" type="submit" value="Usuń"
                                                          ng-click="editData.accounts = account; deleteAccount();">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <script type="text/ng-template" id="Block">
            <h1>Zablokować konto?</h1>
            <input class="submitConfirmDialog" type="submit" value="Tak"
                   ng-click="closeThisDialog(0); blockAccountUser(); ">
            <input class="submitDelete" type="submit" value="Nie" ng-click="closeThisDialog(0)">
        </script>
        <script type="text/ng-template" id="successBlock">
            <h1 style="font-size: 30px;">Konto zostało zablokowane!</h1>
            <input style="width: 410px;" class="submitConfirmDialog" type="submit" value="OK"
                   ng-click="reloadRoute(); closeThisDialog(0);">

        </script>
        <script type="text/ng-template" id="Delete">
            <h1>Usunąć konto?</h1>
            <p style="color: #ffffff;">Spowoduje to stałe użytkownika usunięcie z aplikacji.</p>
            <input class="submitConfirmDialog" type="submit" value="Tak"
                   ng-click="closeThisDialog(0); deleteThisAccount(); ">
            <input class="submitDelete" type="submit" value="Nie" ng-click="closeThisDialog(0)">
        </script>
        <script type="text/ng-template" id="successDelete">
            <h1 style="font-size: 30px;">Konto zostało usunięte!</h1>
            <input style="width: 410px;" class="submitConfirmDialog" type="submit" value="OK"
                   ng-click="reloadRoute(); closeThisDialog(0);">

        </script>

    </div>
</div>
</div>