<div class="container">
    <div class="slider-container">
        <div class="intro-text">

            <div class="intro-heading">Korekty</div>
            <div id="showDocument" ng-cloak>
                <table class="table" ts-wrapper ng-init="showModal=false">
                    <thead>
                    <tr>

                        <th style="background-color: #1C1D21" ts-criteria="NumberWZ|parseInt" ts-default>Numer WZ</th>
                        <th style="background-color: #1C1D21" ts-criteria="subProcess|parseInt">Podproces</th>
                        <th style="background-color: #1C1D21" ts-criteria="client|lowercase">Klient</th>
                        <th style="background-color: #1C1D21" ts-criteria="clientNumber|parseInt">Numer klienta</th>
                        <th style="background-color: #1C1D21" ts-criteria="traderName|lowercase">Handlowiec</th>
                        <th style="background-color: #1C1D21" ts-criteria="date|parseInt">Data zatwierdzenia</th>
                        <th style="background-color: #1C1D21" ts-criteria="">Zwłoka</th>
                        <th style="background-color: #1C1D21" ts-criteria="">Korekta</th>
                        <th style="background-color: #1C1D21" ts-criteria="">ADMIN</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="document in documents" ts-repeat>

                        <td>{{document.numberWZ}}</td>
                        <td>{{document.subProcess}}</td>
                        <td>{{document.client}}</td>
                        <td>{{document.clientNumber}}</td>
                        <td>{{document.traderName}}</td>
                        <td>{{document.date | date:'MM/dd/yyyy - h:mma'}}</td>
                        <td>
                            <timer start-time="document.date">{{days}} dni</timer>
                        </td>

                        <td ng-show="document.beCorrects==false">

                            <input id="corectBy" type="checkbox" value="Koryguj"
                                   ng-click="editData.documents = document; correctBy();">
                        </td>
                        <td ng-show="document.beCorrects==true">
                            K
                        </td>

                        <td class="delete"><input class="adminSubmit" type="submit" value="Usuń"
                                                  ng-click="editData.documents = document; clickToDelete();">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <script type="text/ng-template" id="templateDelete">
                <h1>Czy na pewno chcesz usunąć dokument?</h1>
                <input class="submitConfirmDialog" type="submit" value="Tak"
                       ng-click="closeThisDialog(0); deleteDocument();">
                <input class="submitDelete" type="submit" value="Nie" ng-click="closeThisDialog(0)">
            </script>
            <script type="text/ng-template" id="success">
                <h1>Dokument został usunięty pomyślnie!</h1>
                <input style="margin-left: 100px; margin-top: 5px;" class="submitConfirmDialog" type="submit" value="Ok"
                       ng-click="reloadRoute(); closeThisDialog(0);">
            </script>
            <script type="text/ng-template" id="error">
                <h1>Wystąpił błąd</h1>
                <input style="margin-left: 100px; margin-top: 5px;" class="submitSuccess" type="submit" value="Ok"
                       ng-click="closeThisDialog(0);">
            </script>

        </div>
    </div>
</div>