<div class="container">
    <div class="slider-container">
        <div class="intro-text">
            <img ng-show="load" style="font-size: 10px; padding-top: 80px;" src="../images/gears.svg">
            <div ng-show="showInfo">
                <form div="form" class="topBefore" style="font-size:20px; color:#6A735D;">
                    <h1>Wyszukaj po:</h1>


                    <p onclick="onclickHandler();">Kliknij ten akapit a wyświetli się pomoc!</p>

                    <select ng-model="myVar" style="color:#6A735D;">
                        <option value="numberWZ">Numer WZ</option>
                        <option value="nameClient">Nazwa klienta</option>
                        <option value="numberClient">Numer klienta</option>
                        <option value="nameTrader">Opiekun</option>
                        <option value="nameTeam">TOK</option>
                    </select>


                    <hr>
                    <div ng-switch="myVar">
                        <div ng-switch-when="numberWZ">

                            <input id="numberDocument" type="text" ng-model="form.numberDocument"
                                   placeholder="Numer WZ">
                            <input id="subPro" required type="number" ng-model="form.subProcess" placeholder="Podproces"
                                   min="1"
                                   max="4999"/>
                            <input class="submit" type="submit" value="Szukaj" ng-click="findByNumber()">
                        </div>
                        <div ng-switch-when="nameClient">


                            <input class="inputDocument" type="text" ng-model="form.nameClient"
                                   placeholder="Nazwa klienta">
                            <input class="submit" type="submit" value="Szukaj" ng-click="findByClient()">



                        </div>
                        <div ng-switch-when="numberClient">


                            <input class="inputDocument" type="text" ng-model="form.numberClient"
                                   placeholder="Numer klienta">
                            <input class="submit" type="submit" value="Szukaj" ng-click="findByClientNumber()">


                        </div>
                        <div ng-switch-when="nameTrader">

                            <input class="inputDocument" type="text" ng-model="form.nameTrader"
                                   placeholder="Handlowiec">
                            <input class="submit" type="submit" value="Szukaj" ng-click="findByTrader()">

                        </div>
                        <div ng-switch-when="nameTeam">

                            <input class="inputDocument" type="text" ng-model="form.nameTeam" placeholder="Nazwa TOKU">
                            <input class="submit" type="submit" value="Szukaj" ng-click="findByNameTeam()">

                        </div>
                    </div>

                </form>


                <div id="showDocument">
                    <table class="table" ts-wrapper ng-init="showModal=false">
                        <thead>
                        <tr>

                            <th class="menu_t " style="background-color: #1C1D21">Numer WZ</th>
                            <th class="menu_t " style="background-color: #1C1D21" ts-criteria="subProcess|parseInt">Pod proces</th>
                            <th class="menu_t " style="background-color: #1C1D21" ts-criteria="client|lowercase">Klient</th>
                            <th class="menu_t " style="background-color: #1C1D21" ts-criteria="clientNumber|parseInt">Numer klienta</th>
                            <th class="menu_t " style="background-color: #1C1D21" ts-criteria="traderName|lowercase">Handlowiec</th>
                            <th class="menu_t " style="background-color: #1C1D21" ts-criteria="date|parseInt">Data zatwierdzenia</th>
                            <th class="menu_t " style="background-color: #1C1D21">Zwłoka</th>
                            <th class="menu_t " style="background-color: #1C1D21" ts-criteria="">Korekta</th>
                            <th class="menu_t " ng-show="userRoles" style="background-color: #1C1D21" ts-criteria="">ADMIN</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="document in documents" ts-repeat>

                            <td>{{document.numberWZ}}</td>
                            <td>{{document.subProcess}}</td>
                            <td>{{document.client}}</td>
                            <td>{{document.clientNumber}}</td>
                            <td>{{document.traderName}}</td>
                            <td>{{document.date | date:'MM/dd/yyyy'}}</td>
                            <td>
                                <timer start-time="document.date">{{days}} dni</timer>
                            </td>

                            <td class="delete" ng-show="document.beCorrects==false">

                                <input class="adminSubmit" type="submit" value="TAK"
                                       ng-click="editData.documents = document; correctBy();">

                            </td>
                            <td ng-show="document.beCorrects==true">
                                K
                            </td>

                            <td class="delete" ng-show="userRoles"><input class="adminSubmit" type="submit" value="Usuń"
                                                                          ng-click="editData.documents = document; clickToDelete();">
                            </td>
                        </tr>
                        <div style="font-size: 30px;" ng-show="notFindByTrader">Nie ma żadnych dokumentów w bazie danych
                            podanego handlowca.
                        </div>
                        <div style="font-size: 30px;" ng-show="notFindByNumberWZ">Nie znaleziono dokumentu
                            WZ o podanym numerze.

                        </div>
                        <div style="font-size: 30px;" ng-show="notFindByClienName">Nie znaleziono klienta w bazie
                            danych.

                        </div>
                        <div style="font-size: 30px;" ng-show="notFindByClientNumber">Nie znaleziono klienta w bazie
                            danych.
                        </div>
                        <div style="font-size: 30px;" ng-show="notFindByNameTeam">Nie znaleziono podanego TOK-u.
                        </div>
                        </tbody>

                    </table>
                </div>

            </div>

            <script type="text/ng-template" id="AreYouSureDeleteDocument">
                <h1>Czy na pewno chcesz usunąć dokument?</h1>
                <input class="submitConfirmDialog" type="submit" value="Tak"
                       ng-click="closeThisDialog(0); deleteDocument();">
                <input class="submitDelete" type="submit" value="Nie" ng-click="closeThisDialog(0)">
            </script>

            <script type="text/ng-template" id="ByCorrect">
                <h1>Zatwierdzić korekte?</h1>
                <input class="submitConfirmDialog" type="submit" value="Tak"
                       ng-click="closeThisDialog(0); correctDone(); ">
                <input class="submitDelete" type="submit" value="Nie" ng-click="closeThisDialog(0)">
            </script>
            <script type="text/ng-template" id="SuccessCorrect">
                <h1>Korekta zatwierdzona!</h1>
                <input style="margin-left: 100px; margin-top: 5px;" class="submitConfirmDialog" type="submit" value="Ok"
                       ng-click="closeThisDialog(0)">
            </script>

            <script type="text/ng-template" id="successDeleteDocument">
                <h1>Dokument został usunięty pomyślnie!</h1>
                <input style="margin-left: 100px; margin-top: 5px;" class="submitConfirmDialog" type="submit" value="Ok"
                       ng-click="reloadRoute(); closeThisDialog(0);">
            </script>
            <script type="text/ng-template" id="errorFindDocument">
                <h1>Wystąpił błąd podczas szukania WZ.</h1>
                <p>Brak połączenia z serwerem.</p>
                <input style="background-color:rgb(221,44,0);" class="submitSuccess" type="submit" value="Ok"
                       ng-click="closeThisDialog(0);">
            </script>
        </div>
    </div>

</div>

