<div class="container" ng-controller="LoginCtrl">
    <div class="slider-container">
        <div class="intro-text">
            <img ng-show="load" style="font-size: 10px; padding-top: 80px;" src="../images/gears.svg">

            <div ng-show="showInfo">
                <div style="letter-spacing: 1px;" class="intro-heading">Witaj {{nameUser}}</div>
                <p style="font-size: 35px; font-family: 'Kreon', serif; color: #FFFFFF; line-height: 120%;"> Aplikacja
                    umożliwia szybkie zweryfikowanie, czy konkretny dokument WZ został odebrany. Dwa razy w miesiącu
                    generuję listę nieodebranych dokumentów, gdzie zwłoka nieodbierania przekracza 14 dni i wysyła maila do
                    opiekuna danego klienta. Oferuję też usystematyzowanie przepływu informacji dotyczącego zrobionej
                    korekty.</p>
            </div>
        </div>
    </div>
</div>

