<div class="container" ng-controller="LoginCtrl">
    <div class="slider-container">
        <div class="intro-text">
           <img ng-show="load" style="font-size: 10px; padding-top: 80px;" src="../images/gears.svg">

                <div ng-show="showInfo">
                <div style="letter-spacing: 1px;" class="intro-heading">Cześć {{nameUser}}</div>

                <p style="font-size: 35px; font-family: 'Kreon', serif; color: #FFFFFF; line-height: 120%;"> Głównym
                    zadaniem aplikacji jest wyszukiwanie nieodebranych dokumentów WZ.
                    Każda zatwierdzona korekta będzie widoczna i trafi archiwizacji.
                    Dwa razy w miesiącu generuje listę nieodebranych dokumentów,
                    gdzie zwłoka przekracza 14 dni i wysyła maila do konkretnego opiekuna danego klienta.</p>
                </div>
        </div>
    </div>
</div>