<div class="container" ng-controller="LoginCtrl">
    <div class="slider-container">
        <div class="intro-text">

            <div style="letter-spacing: 1px;" class="intro-heading">Cześć {{nameUser}}</div>

            <p style="font-size: 35px; font-family: 'Kreon', serif; color: #FFFFFF; line-height: 120%;" > Głównym zadaniem aplikacji jest wyszukiwanie nieodebranych dokumentów WZ.
                Dostarcza nam również możliwość poinformowanie o zrobieniu korekty do konkretnego dokumentu.
                Dwa razy w miesiącu generuję listę nieodebranych dokumentów,
                gdzie zwłoka przekracza 14 dni i wysyła maila do konkretnego opiekuna danego klienta.</p>

        </div>
    </div>
</div>