<div class="container">
    <div class="slider-container">
        <div class="intro-text">

            <div id="register">
                <h1>Zarejestruj</h1>
                <md-content layout="column" md-theme="docs-dark"  layout-padding="">
                    <div>
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>E-mail</label>
                            <input type="email" ng-model="register.email">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Imię</label>
                            <input type="text" ng-model="register.name">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Nazwisko</label>
                            <input type="text" ng-model="register.surname">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm="">
                        <label>Hasło</label>
                        <input type="password" ng-model="register.password">
                    </md-input-container>
                     <md-input-container class="md-block" flex-gt-sm="">
                            <label>Powtórz hasło</label>
                            <input type="password" ng-model="register.passwordConfirm">
                     </md-input-container>
                    </div>
                    <input class="page-scroll btn btn-xl" type="submit" value="Zarejestruj" ng-click="registerUser()">

                </md-content>


            </div>

        </div>
    </div>
</div>