<div class="container">
    <div class="slider-container">
        <div class="intro-text">

            <div class="intro-heading">Korekty</div>

            <div id="showDocument">

                <table class="table" ts-wrapper>
                    <thead>
                    <tr>

                        <th style="width: 55%;" ts-criteria="NumberWZ|parseInt" ts-default>Numer WZ</th>
                        <th style="width: 15%;"  ts-criteria="subPro|parseInt">Pod proces</th>
                        <th style="width: 20%;"  ts-criteria="nameClient|lowercase">Klient</th>
                        <th style="width: 20%;"  ts-criteria="nameTrader|lowercase">Handlowiec</th>
                        <th style="width: 20%;"  ts-criteria="user|lowercase">Wykonał</th>
                        <th style="width: 20%;"  ts-criteria="date|parseInt">Data</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="corrects in correctsDocument" ts-repeat>
                        <td>{{corrects.numberWZ}}</td>
                        <td>{{corrects.subPro}}</td>
                        <td>{{corrects.nameClient}}</td>
                        <td>{{corrects.nameTrader}}</td>
                        <td>{{corrects.user}}</td>
                        <td>{{corrects.date | date:'dd/MM/yyyy'}}</td>

                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div>
                <a href="#/history">
            <img src="images/icons/back.png">
                </a>
            </div>

        </div>
    </div>
</div>