<div class="container">
    <div class="slider-container">
        <div class="intro-text">

            <div class="intro-heading">Klienci</div>
            <div id="showDocument">
                <table class="table" ts-wrapper>
                    <thead>
                    <tr>

                        <th style="width: 55%;" ts-criteria="name|lowercase" ts-default>Nazwa klienta</th>
                        <th style="width: 15%;"  ts-criteria="numberClient|parseInt">Numer</th>
                        <th style="width: 20%;"  ts-criteria="nameTeam|lowercase">Team</th>
                        <th style="width: 10%;"  style="width: 15%">Usuń</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="client in clients" ts-repeat>
                        <td>{{client.name}}</td>
                        <td>{{client.numberClient}}</td>
                        <td>{{client.nameTeam}}</td>
                        <td class="active_account"><input style="background-color:rgb(221,44,0);width: 95px;" class="adminSubmit" type="submit" value="Usuń"
                                                          ng-click="editData.accounts = client; deleteClient();">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <a href="#/client">
                    <img src="images/icons/back.png">
                </a>
            </div>


            <script type="text/ng-template" id="DeleteClient">
                <h1 style="font-size: 30px;">Czy chcesz usunąć tego klienta?</h1>
                <input class="submitConfirmDialog" type="submit" value="Tak"
                       ng-click="closeThisDialog(0); deleteClientConfirm();">
                <input class="submitDelete" type="submit" value="Nie" ng-click="closeThisDialog(0)">
            </script>
            <script type="text/ng-template" id="DeleteClientInfo">
                <h1 style="font-size: 30px;">Udało się.</h1>
                <input style="background-color: #23AD21;" class="submitSuccess" type="submit" value="Klient usunięty!"
                       ng-click="reloadRoute(); closeThisDialog(0);">
            </script>

        </div>
    </div>
</div>