<div class="container">
    <div class="slider-container">
        <div class="intro-text">

            <div class="intro-heading">Historia</div>
            <div id="adminPanel">
                <a href="#/all_delete_document"><input ng-click="allDeleteDocument()" type="submit" class="submitAdmin" value="Usunięte dokumenty"></a>
                <a href="#/history"><input type="submit" class="submitAdmin" value="Korekty"></a>
                <a href="#/all_delete_document"><input type="submit" class="submitAdmin" value="Korekty"></a>
            </div>
        </div>
    </div>
</div>